<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="file:///C:/Users/xfile/source/repos/BF4Seeder/HtmlToImage/Templates/bf4.css">
    <link rel="stylesheet" type="text/css" href="file:///C:/Users/xfile/source/repos/BF4Seeder/HtmlToImage/Templates/battlelog.css">
</head>
<body>
    <table class="table table-hover scoreboard" cellpadding="0">
        <thead>
            <tr class="tr-color-allied">
                <th colspan="2">
                    Attacker - 185
                </th>
                <th class="center">K</th>
                <th class="center">D</th>
                <th class="last right">Score</th>
            </tr>
        </thead>
        <tbody data-gameid="36028797037716590">
            <tr data-personaid="1004550934628" data-userid="3307924296544772452" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1004550934628/" data-squad="0" class="battlereport-teamstats-row pos_nr1 player">
                <td class="center">
                    <span>1</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/NLN_18/" rel="3307924296544772452" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r140 rank_icon" data-rank="140"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">NLN_18</span>
                        </div>
                    </div>
                </td>
                <td class="center">23</td>
                <td class="center">5</td>
                <td class="last right">4,458</td>
            </tr>
            <tr data-personaid="1004037359484" data-userid="3307924472170089788" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1004037359484/" data-squad="0" class="battlereport-teamstats-row pos_nr2 player">
                <td class="center">
                    <span>2</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall online" href="/bf4/user/MisterManNiko/" rel="3307924472170089788" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r94 rank_icon" data-rank="94"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">MisterManNiko</span>
                        </div>
                    </div>
                </td>
                <td class="center">16</td>
                <td class="center">11</td>
                <td class="last right">3,923</td>
            </tr>
            <tr data-personaid="861732789" data-userid="2832657051030510310" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/861732789/" data-squad="0" class="battlereport-teamstats-row pos_nr3 player">
                <td class="center">
                    <span>3</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Bambitto28/" rel="2832657051030510310" style="background-image: url(https://secure.gravatar.com/avatar/2f30770ff79b7072ffadac9b195ed8bf?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r125 rank_icon" data-rank="125"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Bambitto28</span>
                        </div>
                    </div>
                </td>
                <td class="center">18</td>
                <td class="center">10</td>
                <td class="last right">3,794</td>
            </tr>
            <tr data-personaid="1680131545" data-userid="2955060608964312545" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1680131545/" data-squad="0" class="battlereport-teamstats-row pos_nr4 player">
                <td class="center">
                    <span>4</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/twtvzola018/" rel="2955060608964312545" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r120 rank_icon" data-rank="120"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">twtvzola018</span>
                        </div>
                    </div>
                </td>
                <td class="center">14</td>
                <td class="center">6</td>
                <td class="last right">2,521</td>
            </tr>
            <tr data-personaid="244130498" data-userid="2832659177344043692" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/244130498/" data-squad="0" class="battlereport-teamstats-row pos_nr5 player">
                <td class="center">
                    <span>5</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/DrJanitoer/" rel="2832659177344043692" style="background-image: url(https://secure.gravatar.com/avatar/fc94bd9e851235dda3039046ca3a2808?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r136 rank_icon" data-rank="136"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">DrJanitoer</span>
                        </div>
                    </div>
                </td>
                <td class="center">6</td>
                <td class="center">8</td>
                <td class="last right">2,310</td>
            </tr>
            <tr data-personaid="843966916" data-userid="2832663454877749451" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/843966916/" data-squad="0" class="battlereport-teamstats-row pos_nr6 player">
                <td class="center">
                    <span>6</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/TravoltaFIN/" rel="2832663454877749451" style="background-image: url(https://secure.gravatar.com/avatar/326c9f6b311b2ce11d627ea74636b9f2?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r72 rank_icon" data-rank="72"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">TravoltaFIN</span>
                        </div>
                    </div>
                </td>
                <td class="center">5</td>
                <td class="center">7</td>
                <td class="last right">1,705</td>
            </tr>
            <tr data-personaid="905466933" data-userid="2832659851886631318" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/905466933/" data-squad="0" class="battlereport-teamstats-row pos_nr7 player">
                <td class="center">
                    <span>7</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Vissio/" rel="2832659851886631318" style="background-image: url(https://secure.gravatar.com/avatar/7fc6de875c8b6b502d323464a23a5703?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r140 rank_icon" data-rank="140"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Vissio</span>
                        </div>
                    </div>
                </td>
                <td class="center">8</td>
                <td class="center">6</td>
                <td class="last right">1,594</td>
            </tr>
            <tr data-personaid="473795651" data-userid="2832660699968766971" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/473795651/" data-squad="0" class="battlereport-teamstats-row pos_nr8 player">
                <td class="center">
                    <span>8</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/xaer3d/" rel="2832660699968766971" style="background-image: url(https://secure.gravatar.com/avatar/31f409a67497c93eacd6aac3bca05cc5?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r124 rank_icon" data-rank="124"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">xaer3d</span>
                        </div>
                    </div>
                </td>
                <td class="center">6</td>
                <td class="center">1</td>
                <td class="last right">1,291</td>
            </tr>
            <tr data-personaid="805603500" data-userid="2832664083208036783" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/805603500/" data-squad="0" class="battlereport-teamstats-row pos_nr9 player">
                <td class="center">
                    <span>9</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/TomerNex/" rel="2832664083208036783" style="background-image: url(https://secure.gravatar.com/avatar/d4cebec13318d6d63c68ebc2161cd72a?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r74 rank_icon" data-rank="74"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">TomerNex</span>
                        </div>
                    </div>
                </td>
                <td class="center">4</td>
                <td class="center">5</td>
                <td class="last right">1,271</td>
            </tr>
            <tr data-personaid="365517143" data-userid="2832659368517435957" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/365517143/" data-squad="0" class="battlereport-teamstats-row pos_nr10 player">
                <td class="center">
                    <span>10</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall offline" href="/bf4/user/Peltiharju/" rel="2832659368517435957" style="background-image: url(https://secure.gravatar.com/avatar/ef1e6dfb8727e8827c1b8c399f1b32c5?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r140 rank_icon" data-rank="140"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Peltiharju</span>
                        </div>
                    </div>
                </td>
                <td class="center">7</td>
                <td class="center">9</td>
                <td class="last right">1,225</td>
            </tr>
            <tr data-personaid="341452373" data-userid="2832663901113941035" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/341452373/" data-squad="0" class="battlereport-teamstats-row pos_nr11 player">
                <td class="center">
                    <span>11</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Akkanaattori/" rel="2832663901113941035" style="background-image: url(https://secure.gravatar.com/avatar/e8cfb6b1b0bc544b043b9b5a258f2dda?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r140 rank_icon" data-rank="140"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Akkanaattori</span>
                        </div>
                    </div>
                </td>
                <td class="center">7</td>
                <td class="center">10</td>
                <td class="last right">1,200</td>
            </tr>
            <tr data-personaid="1797949069" data-userid="2955060613965782875" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1797949069/" data-squad="0" class="battlereport-teamstats-row pos_nr12 player">
                <td class="center">
                    <span>12</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Tumaq/" rel="2955060613965782875" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r125 rank_icon" data-rank="125"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Tumaq</span>
                        </div>
                    </div>
                </td>
                <td class="center">5</td>
                <td class="center">11</td>
                <td class="last right">1,059</td>
            </tr>
            <tr data-personaid="885124221" data-userid="2955057794697126195" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/885124221/" data-squad="0" class="battlereport-teamstats-row pos_nr13 player">
                <td class="center">
                    <span>13</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/bspin33/" rel="2955057794697126195" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r132 rank_icon" data-rank="132"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">bspin33</span>
                        </div>
                    </div>
                </td>
                <td class="center">6</td>
                <td class="center">9</td>
                <td class="last right">890</td>
            </tr>
            <tr data-personaid="362593739" data-userid="2832659789381998154" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/362593739/" data-squad="0" class="battlereport-teamstats-row pos_nr14 player">
                <td class="center">
                    <span>14</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Axo0/" rel="2832659789381998154" style="background-image: url(https://secure.gravatar.com/avatar/fdf5b395fbb0c222a65d1db81ceb042e?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r117 rank_icon" data-rank="117"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Axo0</span>
                        </div>
                    </div>
                </td>
                <td class="center">4</td>
                <td class="center">5</td>
                <td class="last right">875</td>
            </tr>
            <tr data-personaid="1668538753" data-userid="2955059906703025104" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1668538753/" data-squad="0" class="battlereport-teamstats-row pos_nr15 player">
                <td class="center">
                    <span>15</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/PotsTease/" rel="2955059906703025104" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r110 rank_icon" data-rank="110"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">PotsTease</span>
                        </div>
                    </div>
                </td>
                <td class="center">2</td>
                <td class="center">11</td>
                <td class="last right">848</td>
            </tr>
            <tr data-personaid="884259119" data-userid="2955061996986427124" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/884259119/" data-squad="0" class="battlereport-teamstats-row pos_nr16 player">
                <td class="center">
                    <span>16</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/LuciferM602/" rel="2955061996986427124" style="background-image: url(https://secure.gravatar.com/avatar/?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r116 rank_icon" data-rank="116"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">LuciferM602</span>
                        </div>
                    </div>
                </td>
                <td class="center">5</td>
                <td class="center">4</td>
                <td class="last right">795</td>
            </tr>
            <tr data-personaid="1305419637" data-userid="2955852765103278856" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1305419637/" data-squad="0" class="battlereport-teamstats-row pos_nr17 player">
                <td class="center">
                    <span>17</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Zombi_Kuba/" rel="2955852765103278856" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r116 rank_icon" data-rank="116"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Zombi_Kuba</span>
                        </div>
                    </div>
                </td>
                <td class="center">5</td>
                <td class="center">4</td>
                <td class="last right">776</td>
            </tr>
            <tr data-personaid="981127228" data-userid="2955059901138916819" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/981127228/" data-squad="0" class="battlereport-teamstats-row pos_nr18 player">
                <td class="center">
                    <span>18</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Afromat1/" rel="2955059901138916819" style="background-image: url(https://secure.gravatar.com/avatar/d7f4b4942b892af5460bf1e2d59b6c7d?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r40 rank_icon" data-rank="40"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Afromat1</span>
                        </div>
                    </div>
                </td>
                <td class="center">4</td>
                <td class="center">9</td>
                <td class="last right">760</td>
            </tr>
            <tr data-personaid="1056409705" data-userid="2955061997051879798" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1056409705/" data-squad="0" class="battlereport-teamstats-row pos_nr19 player">
                <td class="center">
                    <span>19</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/wKoja/" rel="2955061997051879798" style="background-image: url(https://secure.gravatar.com/avatar/09d659a1fdf865f90153fb3ef42c28b8?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r67 rank_icon" data-rank="67"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">wKoja</span>
                        </div>
                    </div>
                </td>
                <td class="center">3</td>
                <td class="center">7</td>
                <td class="last right">725</td>
            </tr>
            <tr data-personaid="209220604" data-userid="2832662613966799880" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/209220604/" data-squad="0" class="battlereport-teamstats-row pos_nr20 player">
                <td class="center">
                    <span>20</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Koksie/" rel="2832662613966799880" style="background-image: url(https://secure.gravatar.com/avatar/045f28207b6ef295976c26eef858183f?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r68 rank_icon" data-rank="68"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Koksie</span>
                        </div>
                    </div>
                </td>
                <td class="center">3</td>
                <td class="center">6</td>
                <td class="last right">705</td>
            </tr>
            <tr data-personaid="952749123" data-userid="2955060601567210460" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/952749123/" data-squad="0" class="battlereport-teamstats-row pos_nr21 player">
                <td class="center">
                    <span>21</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/burbur44/" rel="2955060601567210460" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r75 rank_icon" data-rank="75"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">burbur44</span>
                        </div>
                    </div>
                </td>
                <td class="center">3</td>
                <td class="center">9</td>
                <td class="last right">695</td>
            </tr>
            <tr data-personaid="855020223" data-userid="2832662613997078275" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/855020223/" data-squad="0" class="battlereport-teamstats-row pos_nr22 player">
                <td class="center">
                    <span>22</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/JakeyMo_86/" rel="2832662613997078275" style="background-image: url(https://secure.gravatar.com/avatar/ab65fc4a39e4d39b10bc6ff2f5423ad2?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r49 rank_icon" data-rank="49"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">JakeyMo_86</span>
                        </div>
                    </div>
                </td>
                <td class="center">3</td>
                <td class="center">6</td>
                <td class="last right">690</td>
            </tr>
            <tr data-personaid="1003967343677" data-userid="" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1003967343677/" data-squad="0" class="battlereport-teamstats-row pos_nr23 player">
                <td class="center">
                    <span>23</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall unknown" href="/bf4/user/" rel="" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r54 rank_icon" data-rank="54"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo unknown-player">
                            <span class="">IShmelikI</span>
                        </div>
                    </div>
                </td>
                <td class="center">4</td>
                <td class="center">6</td>
                <td class="last right">520</td>
            </tr>
            <tr data-personaid="387164137" data-userid="2832659598363563585" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/387164137/" data-squad="0" class="battlereport-teamstats-row pos_nr24 player">
                <td class="center">
                    <span>24</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/IMoustikI/" rel="2832659598363563585" style="background-image: url(https://secure.gravatar.com/avatar/aa42eac763b95624b57a3f128acc5c07?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r93 rank_icon" data-rank="93"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">IMoustikI</span>
                        </div>
                    </div>
                </td>
                <td class="center">2</td>
                <td class="center">8</td>
                <td class="last right">444</td>
            </tr>
            <tr data-personaid="1096246556" data-userid="2955059901559982801" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1096246556/" data-squad="0" class="battlereport-teamstats-row pos_nr25 player">
                <td class="center">
                    <span>25</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Kielbasa_Zaglady/" rel="2955059901559982801" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r107 rank_icon" data-rank="107"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Kielbasa_Zaglady</span>
                        </div>
                    </div>
                </td>
                <td class="center">2</td>
                <td class="center">3</td>
                <td class="last right">425</td>
            </tr>
            <tr data-personaid="1003907854925" data-userid="3307924199907360525" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1003907854925/" data-squad="0" class="battlereport-teamstats-row pos_nr26 player">
                <td class="center">
                    <span>26</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Th3_L0ne_Wo1f/" rel="3307924199907360525" style="background-image: url(https://secure.gravatar.com/avatar/c92562088755fb6d1a5bda382023e6cb?s=26&amp;d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r20 rank_icon" data-rank="20"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Th3_L0ne_Wo1f</span>
                        </div>
                    </div>
                </td>
                <td class="center">2</td>
                <td class="center">5</td>
                <td class="last right">400</td>
            </tr>
            <tr data-personaid="1856588849" data-userid="2955057808262836533" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1856588849/" data-squad="0" class="battlereport-teamstats-row pos_nr27 player">
                <td class="center">
                    <span>27</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Fladen24/" rel="2955057808262836533" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r26 rank_icon" data-rank="26"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Fladen24</span>
                        </div>
                    </div>
                </td>
                <td class="center">1</td>
                <td class="center">4</td>
                <td class="last right">206</td>
            </tr>
            <tr data-personaid="1885839458" data-userid="2955059207160450380" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1885839458/" data-squad="0" class="battlereport-teamstats-row pos_nr28 player">
                <td class="center">
                    <span>28</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/Whoopsie69/" rel="2955059207160450380" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r50 rank_icon" data-rank="50"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">Whoopsie69</span>
                        </div>
                    </div>
                </td>
                <td class="center">1</td>
                <td class="center">4</td>
                <td class="last right">175</td>
            </tr>
            <tr data-personaid="1936717314" data-userid="2955057112089893666" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1936717314/" data-squad="0" class="battlereport-teamstats-row pos_nr29 player">
                <td class="center">
                    <span>29</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall offline" href="/bf4/user/OBTPC13/" rel="2955057112089893666" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r109 rank_icon" data-rank="109"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">OBTPC13</span>
                        </div>
                    </div>
                </td>
                <td class="center">0</td>
                <td class="center">4</td>
                <td class="last right">51</td>
            </tr>
            <tr data-personaid="793861823" data-userid="2955059190986678602" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/793861823/" data-squad="0" class="battlereport-teamstats-row pos_nr30 player">
                <td class="center">
                    <span>30</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/die30sachsen/" rel="2955059190986678602" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r140 rank_icon" data-rank="140"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">die30sachsen</span>
                        </div>
                    </div>
                </td>
                <td class="center">0</td>
                <td class="center">3</td>
                <td class="last right">25</td>
            </tr>
            <tr data-personaid="1006456951723" data-userid="3307924298595306987" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1006456951723/" data-squad="0" class="battlereport-teamstats-row pos_nr31 player">
                <td class="center">
                    <span>31</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall playing" href="/bf4/user/msdestruction5/" rel="3307924298595306987" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r69 rank_icon" data-rank="69"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">msdestruction5</span>
                        </div>
                    </div>
                </td>
                <td class="center">0</td>
                <td class="center">0</td>
                <td class="last right">0</td>
            </tr>
            <tr data-personaid="1701606309" data-userid="2955061313832958570" data-path="/bf4/battlereport/loadplayerreport/36028797037716590/1701606309/" data-squad="0" class="battlereport-teamstats-row pos_nr32 player">
                <td class="center">
                    <span>32</span>
                </td>
                <td class="soldier-name">
                    <a class="avatar xsmall offline" href="/bf4/user/MolochWieprz/" rel="2955061313832958570" style="background-image: url(https://eaassets-a.akamaihd.net/battlelog/defaultavatars/default-avatar-26.png);">
                    </a>
                    <div class="user-personarank">
                        <div class="bf4-rank rank small r131 rank_icon" data-rank="131"></div>
                    </div>
                    <div class="user-info">
                        <div class="common-playername-personaname solo">
                            <span class="common-playername-personaname-nolink">MolochWieprz</span>
                        </div>
                    </div>
                </td>
                <td class="center">0</td>
                <td class="center">0</td>
                <td class="last right">0</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total</td>
                <td class="center">169</td>
                <td class="center">196</td>
                <td class="right">36,356</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>